*{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
.wylaczklikanie{
    pointer-events: none;
}
.kolumna{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.rzad-zdiecja{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.div-przycisk{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.div-przycisk .przycisk{
    display: flex;
    background-color: #ccc;
    width: 10rem;
    height: 2rem;
    margin: 1rem;
}
.div-przycisk .przycisk:hover{
    background-color: #eee;
}
.div-przycisk .przycisk .przycisk-tekst{
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 1.5rem;
}
.ukryj{
    visibility: hidden;
}
.plansza{
    background-color: #ddd;
    border: 1px solid black;
    display: block;
    min-width: 312px;
    min-height: 580px;
    padding: 1rem;
    margin: 0 auto;
}
.tura{
    width: fit-content;
    padding: 0.5rem;
    margin: 0 auto;
    border: 1px solid black;
}
.tura img{
    position: relative;
    left: 40px;
    margin: 0 auto;
}